BOT_TOKEN=ваш_токен_от_BotFather
SPREADSHEET_ID=ID_вашей_Google_таблицы
ADMIN_TELEGRAM_ID=ваш_Telegram_ID
MINI_APP_URL=https://repetitor-kitaiskui.vercel.app
CARD_TBANK=номер_карты_тбанк_без_пробелов
CARD_VTB=номер_карты_втб_без_пробелов
